

body{
  background-image: url("beanstalk.png");
}

#game {
  display: grid;
  /**grid: auto-flow 140px / repeat(4, 100px);**/
  grid-template-columns: repeat(4, 100px);
  grid-gap: 3%;
  list-style-type: none;
}

.card {
  margin: 0.2rem 0.3rem;
  background: #54016b;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  height: 125px;
  width: 125px;
  border-radius: 5px;
}
.back, .front {
  height: 125px;
  width: 125px;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.selected {
  transform: rotateY(180deg);
}
.match .front, .match {
  opacity: 0;
  box-shadow: none;
  border-radius: 0px;
  cursor: auto;
}
.match2{
  background: none;
  box-shadow: none;
  border-radius: 0px;
}





