
body {
  margin: 40px;
  background-image: url("beanstalk.png");
}

.container {
  display: inline-block;
  box-shadow: 0 2px 3px rgba(0,0,0,0.05);
  border: 1px solid #e6e6e6;
  background-color: #fff;
  /*border: 1px solid #d2d2dc;
  border-radius: 0 0 4px 4px;*/
}

.header {
    background: #f2f2f2;
    display: flex;
}
.header div {
  border-right: 1px solid #fff;
  background: #50086e;
  flex-grow: 1;
  text-align: center;
}
.header .active a {
  background-color: #fff !important;
    color: #3b3a3c !important;
    position: relative;
    z-index: 100;
    border: 0;
}
.header a {
    color: #fff;
    display: block;
    padding: 12px 0;
    font: 400 1rem/1.5 Arial,sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: repeat(4, 125px);
  grid-gap: 10px;
  padding: 0.8em 1em;
  /*padding: 2em;*/
}
.grid .card {
    border-radius: 3px;
    /*margin: 0.2rem 0.3rem;
    margin: 5px;*/
    cursor: pointer;
    /*box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);*/
    /*position: relative;*/
    transition: all .4s linear;
    transform-style: preserve-3d;
    /*height: 125px;
    width: 125px;*/
    border-radius: 5px;
}

.portrait { background: linear-gradient(140deg, rgba(164,187,159,1) 0%, rgba(209,220,32,1) 50%, rgba(234,241,45,1) 75%);}
.landscape { background: linear-gradient(140deg, rgba(159,184,173,1) 0%, rgba(31,219,163,1) 50%, rgba(44,232,132,1) 75%);}
.impressionism { background: linear-gradient(140deg, rgba(159,184,173,1) 0%, rgba(31,200,219,1) 50%, rgba(44,181,232,1) 75%);}
.abstract{ background: linear-gradient(140deg, rgba(164,187,159,1) 0%, rgba(222,128,34,1) 50%, rgba(232,97,44,1) 75%);}



.back, .front {
  height: 125px;
  width: 125px;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.selected {
  transform: rotateY(180deg);
}
.grid .match {
  opacity: 0;
  box-shadow: none;
  border-radius: 0px;
  cursor: auto;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


